header {
	background: #000;
	color: #FFF;
	padding: 5px 5px;
	width: 100%;
	text-align: center;
}


h2 {
	text-align: center;
}

form { margin: 0 auto; 
		text-align: center}

h2.orange{
	color:orange;
}

h2.blue{
	color: #428bca;
}

h2.purple{
	color:purple;
}

a.login{
	color:white;
}